/* display:grid;grid-template-columns:1fr 1fr 1fr;grid-template-rows:100px 100px 100px; */


.pages {
    display:block;
    padding: 20px;
    max-width: 100%;
}
.pages p , .pages span, .pages li{
    font-size: 12pt;
}
.pages h1{
    font-size: 24pt;
}
.pages h2{
    font-size: 18pt;
}


@media screen and (max-width: 760px){
    .site {
        background-color: white;
        grid-template: 3/3;
        display: grid;
        grid-template-columns: 10px minmax(380px, 760px) 10px;
        grid-template-rows: 1800px 320px minmax(fit-content,4700px) ;
        grid-template-areas: 'header header header' 'reasons reasons reasons' '. main .';
        z-index: 0;
    }

    .header {
        grid-area: header;
        width: 100%;
        height: 1720px;
        padding: 0px;
        margin: 0px;
        z-index: 1;
        display: grid;
        grid-template-columns:  minmax(380px, 760px);
        grid-template-rows: 20px 300px 170px 600px  300px 300px;
        grid-template-areas: 
        '.' 
        ' logo-title ' 
        ' headlines-title '
        ' form '
        ' headlines '
        ' video ';
    }
    

    .bgcontainer {
        display: block;
        background: rgba(255,255,255,0);
        border-style: none;
        margin: auto;
        border-radius: 0px;
        width: 100%;
        height: 1820px;
        overflow: hidden;
        position: relative;
        grid-area: 1/1/5/5;
    }
    
    .bgvideo {
        width: 170%;
        height: 1720px;
        overflow: hidden;
        position: absolute;
        z-index: -2;
        margin: 0;
        padding: 0;
        transform: translateZ(0);
        display: block;
    }
    
    .bgvideo .vimeo {
        position: fixed;
        margin: 0;
        padding: 0;
        top: -1000px;
        left: -60%;
        width: 500%;
        height: 3600px;
        opacity: 1;
    }
    
    
.logo-title {
    grid-area: logo-title;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.logo-title .logo {
    margin-right: 20px;
}

    .logo-title h1.title {
        font-family: 'Lato';
        font-size: 42px;
        color: white;
        text-align: center;
        letter-spacing: 0px;
        margin: 0px;
    }

    .remark {
        font-size: 16px;
        color: white;
        padding: 5px 10px 5px 21px;
        width: 200px;
    }

    
.headlines-title {
    grid-area: headlines-title;
    text-align: center;
    margin: 20px 0 20px 0!important;
}

.headlines-title span {
    font-family: 'Lato';
    font-size: 28pt;
    line-height: 34px;
    font-weight: 900;
    color: white;
}

.headlines {
    grid-area: headlines;
    padding: 0px;
    margin: 10px 0 0 0;
    width: 100%;
}

.headlines ul {
    font-family: 'Lato';
    font-size: 16pt;
    font-weight: 900;
    color: white;
    text-align: left;
    margin: 20px 0px  ;
}

.headlines h3 {
    display: inline;
    font-family: 'Lato';
    font-size: 18pt;
    font-weight: 900;
    color: white;
    text-align: left;
    margin: 0!important;
}

.tvideo {
    grid-area: video;
    height: 28px;
    z-index: 1;
}

.tvideo iframe {
    height: 240px;
    margin: 10px 0 0px 0px;
}

.tvideo h3.caption {
    margin: 0;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 900;
    color: white;
    text-align: center;
}

.pol-form {
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: #990000;
    border-radius: 40px;
    background-color: #ffffff;
    margin:  0px auto;
    text-align: left;
    width: 300px;
    height: fit-content;
    grid-area: form;
    z-index: 5;
}

div.pol-form > h2 {
    color: #FF0000;
    margin: 0px;
    padding: 10px 10px;
    font-size: 30px;
    line-height: 30px;
    width: 90%;
    text-align: center;
}

.pol-form > form {
    z-index: 5;
}

.data-form {
    width: 100%;
}

.data-form tr {
    display: block;
}

.inputs {
    display: grid;
    margin-bottom: 10px;
    padding: 0px 16px;
}
#lead-form > table  label{
    font-size: 13pt;
    line-height: 16px;
}
 div.extTimeZone > select {
    width: 90%;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13pt;
    line-height: 20px;
}

.inputs input {
    width: 90%;
    height: 30px;
    border: 1px solid #000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 8px;
    color: #555555;
    font-size: 14pt;
}

#lead-form   p.error-msg{
    font-size: 10pt;
    line-height: 12px;
    margin: 2px;
}

td.submit-div{
    display: block;
    width: 100%!important;
    text-align: center;
}


.submit-div .button {
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: red;
    color: white;
    margin: 10px;
    font-size: 24pt;
    font-weight: 900;
    cursor: pointer;
}

button.button:hover {
    background-color: orange;
}

.submit-div button:disabled,
.submit-div button:disabled:hover,
.submit-div button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}



span.optinTxt {
    font-size: 12pt;
    line-height: 12pt;
    padding: 0px;
    height:40px;
    display: block;
}
#lead-form > table > tbody > tr:nth-child(4) > td.remark2 {
    display: block;
    font-size: 12pt;
    line-height: 12pt;
    color: black;
    padding: 0px;
    width: 100%;
}

.preview-form .inputs {
    width: 18rem;
}






.content {
    grid-area: main;
}

.reasons-container {
    background-color: grey;
    margin-top:10px;
}

.reasons {
    grid-area: reasons;
    width: 100%;
    height: 320px;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 1fr 100% 1fr;
    grid-template-rows: 300px;
    background-color: grey;
    align-items: center;
    align-content: center;
    grid-template-areas: '. area1 .' ;
}

.area1 {
    grid-area: area1;
    margin: 0px;
}

.area2 {
    grid-area: area2;
    margin: 0px;
}

.area3 {
    grid-area: area3;
    margin: 0px;
}

.reasons ul {
    width: auto;
    align-content: center;
    font-size: 20px;
    height: auto;
}

.story {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 240px auto ;
    grid-template-areas: 'mypic' 'mystory' 's-header';

}

.story > .mypic {
    grid-area: mypic;
    margin: 0px;
    text-align: center;
}



.story > .mystory {
    grid-area: mystory;
    width: 100%;
    margin: 0px 0px 0 0px;
    padding: 0 0 0 20px;
}

div.mystory  > p {
    font-size: 28px;
    font-family: Rosario;
}

.story > div > img {
    border-radius: 50%;
    border: 5px solid gray;
    margin: 20px;
}

.story > h2{
    grid-area: s-header;
    font-family: Rosario;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

.pics {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: center;
}

.pics > figure {
    width: minmax(360px,auto);
    text-align: center;
    margin: 10px;
}

.pics > figure > figcaption {
    text-align: center;
    font-size: 18pt;
}

.stats {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: center;
}

.stats >div {
    width: 360px;
    max-width: auto;
}

.stats > div > h2 {
    color: darkred;
    font-size: 28px;
    text-align: center;
}

.stats > div > span {
    font-size: 20px;
    text-align: left;
}

.testimonials {
  display: block;
  max-width: 100%;
}

.testimonials div {
    display: flex;
    flex-flow: wrap;
    max-width: 100%;
    background-color: grey;
    border-radius: 50px;
    margin: 20px 0px;
    padding: 20px;
    width: 360px;
    min-width: 270px;
}

.testimonials > div > blockquote {
    margin: 30px 20px 0px 20px;
    width: 100%;
    font-size: 20px;
    color: white;
    font-family: Rosario;
    font-weight: normal;
}

.testimonials > div > figure {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
}

.testimonials > div > figure > figcaption {
    color: white;
    text-align: center;
    width: 100%;
}

.testimonials > div > figure >img {
    border-radius: 50%;
    margin: 0px ;
    padding: 0px;
    width: 160px;
    height: 160px;
}

.footer {
    grid-area: footer;
    width: 100%;
    max-width: 100%;
    background-color: grey;
    display: grid;
    grid-template-columns: 10px minmax(380px, 740px) 10px;
    grid-template-rows: 100px;
    grid-template-areas: '. fmain .';
}

.footer > div.fcenter {
    max-width: 100%;
    grid-area: fmain;
    text-align: center;
}

footer > div > ul > li a{
    text-align: left;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer > div > ul > li a:hover{
    text-align: left;
    color: red;
}


    footer > div > ul > li{
        margin: 10px 5px;
    }


.footer > div.fcenter p{
    font-size: 10pt;
    margin: 0px;
    color: white;
}

.footer > div.fcenter > ul.menu-footer {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
    color: white;
    width: 100%;
    justify-content: space-evenly;
}



}

@media screen and (min-width: 761px){
    .site {
        background-color: white;
        grid-template: 3/3;
        display: grid;
        grid-template-columns: 1fr minmax(761px, auto) 1fr;
        grid-template-rows: 1340px 140px fit-content ;
        grid-template-areas: 'header header header' 'reasons reasons reasons' '. main .' ;
        z-index: 0;
        
    }

    .header {
        grid-area: header;
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr minmax(380px, auto) minmax(380px, auto) 1fr;
        grid-template-rows: 30px 200px 100px 280px 360px;
        grid-template-areas: '. . . .' '. logo-title logo-title .' '. headlines-title headlines-title .' '. headlines form .' '. video form .';
        height: 1030px;
    }

        
    .bgcontainer {
        display: block;
        background: rgba(255,255,255,0);
        border-style: none;
        margin: auto;
        border-radius: 0px;
        width: 100%;
        height: 1030px;
        overflow: hidden;
        position: relative;
        grid-area: 1/1/5/5;
    }

    .bgvideo {
        width: 170%;
        height: 1300px;
        overflow: hidden;
        position: absolute;
        z-index: -2;
        margin: 0;
        padding: 0;
        transform: translateZ(0);
        display: block;
    }

    .bgvideo .vimeo {
        position: fixed;
        margin: 0;
        padding: 0;
        top: 0px;
        left: -60%;
        width: 170%;
        height: 1350px;
        opacity: 1;
    }


.logo-title {
    grid-area: logo-title;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.logo-title .logo {
    margin-right: 20px;
}

.logo-title .title {
    font-family: 'Lato';
    font-size: 48px;
    color: white;
    text-align: left;
    letter-spacing: 3px;
}

.remark {
    font-size: 16px;
    color: white;
    padding: 5px 10px 5px 21px;
    width: 200px;
}

.headlines-title {
    grid-area: headlines-title;
    text-align: center;
    margin: 0 0 20px 0!important;
}

.headlines-title span {
    font-family: 'Lato';
    font-size: 28pt;
    line-height: 34px;
    font-weight: 900;
    color: white;
}

.headlines {
    grid-area: headlines;
    padding: 0px;
    margin: 10px 0 0 0;
    width: 380px;
}

.headlines ul {
    font-family: 'Lato';
    font-size: 16pt;
    font-weight: 900;
    color: white;
    text-align: left;
    margin: 0 ;
}

.headlines h3 {
    display: inline;
    font-family: 'Lato';
    font-size: 18pt;
    font-weight: 900;
    color: white;
    text-align: left;
    margin: 0!important;
}

.tvideo {
    grid-area: video;
    height: 28px;
    z-index: 1;
}

.tvideo iframe {
    height: 240px;
    margin: 10px 0 0px 0px;
}

.tvideo h3.caption {
    margin: 0;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 900;
    color: white;
    text-align: center;
}

.pol-form {
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: #990000;
    border-radius: 40px;
    background-color: #ffffff;
    margin-left: 20px;
    text-align: left;
    width: 320px;
    height: fit-content;
    grid-area: form;
    z-index: 5;
}

div.pol-form > h2 {
    color: #FF0000;
    margin: 0px;
    padding: 10px 40px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.pol-form > form {
    z-index: 5;
}

.data-form {
    width: 100%;
    height:fit-content;
}

.data-form tr {
    display: block;
}

.inputs {
    display: grid;
    margin-bottom: 10px;
    padding: 0px 16px;
    
}
#lead-form > table  label{
    font-size: 13pt;
    line-height: 16px;
}
 div.extTimeZone > select {
    width: 270px;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13pt;
    line-height: 20px;
    border-radius: 6px;
}

.inputs input {
    width: 270px;
    height: 26px;
    border: 1px solid #000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    font-size: 14pt;
}

#lead-form   p.error-msg{
    font-size: 12pt;
    line-height: 16px;
    margin: 2px;
}

td.submit-div{
    display: block;
    width: 100%!important;
    text-align: center;
}


.submit-div .button {
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: red;
    color: white;
    margin: 10px;
    font-size: 24pt;
    font-weight: 900;
    cursor: pointer;
}

button.button:hover {
    background-color: orange;
}

.submit-div button:disabled,
.submit-div button:disabled:hover,
.submit-div button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}



span.optinTxt {
    font-size: 12pt;
}
#lead-form > table > tbody > tr:nth-child(4) > td.remark2 {
    display: block;
    font-size: 12pt;
    line-height: 12pt;
    color: black;
    padding: 0px;
    margin-bottom: 15px;
    width: 100%;
}

.preview-form .inputs {
    width: 18rem;
}



.content {
    grid-area: main;
}



.reasons-container {
    background-color: grey;
}

.reasons {
    grid-area: reasons;
    width: 100%;
    height: fit-content;
    /* display: inline-flex;
    flex-flow: row wrap; */
    display: grid;
    grid-template-columns: 10px minmax(280px, auto)  minmax(250px, auto)  minmax(190px, auto) 10px;
    grid-template-rows: 150px;
    background-color: grey;
    align-items: center;
    align-content: center;
    grid-template-areas: '. area1 area2 area3 .';
    padding: 0px;
}

.area1 {
    grid-area: area1;
}

.area2 {
    grid-area: area2;
}

.area3 {
    grid-area: area3;
}

.reasons ul {
    width: auto;
    align-content: center;
    font-size: 12pt;
    font-weight: bold;
    height: 60px;
}


.story {
    display: grid;
    grid-template-columns: 240px minmax(521px, auto);
    grid-template-rows: auto 90px;
    grid-template-areas: 'mypic mystory' 's-header s-header';
}

.story > .mypic {
    grid-area: mypic;
    margin: 20px;
}

.story > .mystory {
    grid-area: mystory;
    width: fit-content;
    margin: 0px 0px 0 20px;
    padding: 0 40px 0 0px;
}

div.mystory  > p {
    font-size: 24px;
    font-family: Rosario;
}

.story > div > img {
    border-radius: 50%;
    border: 5px solid gray;
    margin: 20px ;
}

.story > h2 {
    grid-area:s-header;
    font-family: Rosario;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    margin: 0px;
}

.pics {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around ;
    width: 100%;
}

.pics > figure {
    width: 360px;
    text-align: center;
    margin: 10px;
}

.pics > figure > figcaption {
    text-align: center;
    font-size: 14pt;
}

.stats {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around ;
    width: 100%;
}

.stats >div {
    width: 380px ;
}

.stats > div > h2 {
    color: darkred;
    font-size: 28px;
    text-align: center;

}

.stats > div > span {
    font-size: 20px;
    text-align: left;
    padding: 0 20px;
}

.testimonials {
  display: block;
  max-width: 100%;
}

.testimonials div {
    display: flex;
    background-color: grey;
    border-radius: 50px;
    margin: 20px ;
    padding: 20px;
    min-width: 760px;
    max-width: 100%;
}

.testimonials > div > blockquote {
    margin: 30px 20px 0px 20px;
    min-width: 520px;
    font-size: 20px;
    color: white;
    font-family: Rosario;
    font-weight: normal;
}

.testimonials > div > figure {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    text-align: center;
    width: 180px;
    margin: 0px;
}

.testimonials > div > figure > figcaption {
    color: white;
    text-align: center;
    width: 100%;
}

.testimonials > div > figure >img {
    border-radius: 50%;
    margin: 0px ;
    padding: 0px;
    width: 160px;
    height: 160px;
}

.footer {
    grid-area: footer;
    width: 100%;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr minmax(761px, auto) 1fr;
    grid-template-rows: 120px;
    grid-template-areas: '. fmain .';
    height: 120px;
    padding: 0;
    margin: 0;
}


.footer > div.fcenter {
    grid-area: fmain;
    text-align: center;
    width: auto;
    height: 80px;
}


footer > div > ul > li a{
    text-align: left;
    color: white!important;
    font-weight: bold;
    text-decoration: none;
}
footer > div > ul > li a:hover{
    color: red!important;
}

.footer > div.fcenter > ul.menu-footer {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: white;
    width: 100%;
    height: 60px;
    justify-content: center;
}

.footer > div.fcenter > ul.menu-footer > li {
    display: block;
    margin: 10px;
}

.footer > div.fcenter > ul.menu-footer > li > a {
    color: #aaccff;
}

.footer > div.fcenter > ul.menu-footer > li > a:active {
    color: #ff0000;
}

.footer > div.fcenter > ul.menu-footer > li > a:hover {
    color: #ffffff;
}

.footer > div.fcenter > ul.menu-footer > li > a:visited {
    color: #0000ff;
}

.footer > div.fcenter > p {
    color: white;
    font-size: 12pt;
    height: 60px;
    margin: 0px;
}

.extOptin{
float:left; 
border:1px solid #AAA;
box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset; 
transition:border 0.2s linear 0s, box-shadow 0.2s linear 0s;
border-radius:4px; 
color:#555555; 
line-height:20px;
margin:12px; 
padding:4px 6px;
}

}
